{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-primary mt-4" style="font-weight: bold; text-align: center;">Yetinder</h1>

    <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-primary" onclick="window.location.href='/add-yeti'">Add a Yeti</button>
    </div>

{% endblock %}
